* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic',sans-serif;
    letter-spacing: 3px;
   
}

.carousel-inner img {
    width: 100%;
    height: 80vh;
  }

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
}

#container {
  
    margin: 0px auto;
   
}



.navbar-custom{
    background-color: rgb(32, 29, 30);
}







#nav{
    width: 100%;
    height: 50px;
   /* background-color: rgb(103, 63, 128);*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 5px;

}

#nav h2{

 
   color: rgb(87, 78, 82);
}

#nav img{
    width: 80px;
    height: 50px;
    margin-right: 15px;

}



#header {
    
    width: 100%;
    height: 33px;
    background-color: rgb(122, 92, 106);
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    position: sticky;
    top: 0;

}

#header ul li {

    display: inline-block;
   
   
}

#header ul {
    list-style-type: none;
    text-decoration: none;
}

#header ul li a {
    display: block;
    text-decoration: none;
    color: azure;
    
    padding: 5px 10px;
    font-weight: bold;

}



#header ul li a:hover {
    background-color:rgb(199, 82, 127) ;

}





#theme {
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
   

}



.box {
    width: 35%;
    height: 450px;

    background-color: rgb(247, 239, 239);
    margin-bottom: 30px;
    margin-top: 30px auto;
    float: left;
    margin-left: 150px;
    
}




.box h2 {

    font-size: medium;
    font-style: normal;
    text-align: center;
}


.box img {
    /*border-radius: 10px;*/
    margin-top: 20px;
    height: 39vh;


}

.box p {

    padding-left: 30px;
    padding-right: 30px;


}

.box a {
    display: block;
    background-color: rgb(163, 61, 146);
    width: 80%;
    height: 28px;
    border-radius: 10px;
    font-size: medium;
    color: seashell;
    border: 0;
    text-align: center;
    padding-top: 5px;
    margin: 5px auto;
    text-decoration: none;

}

.box a:hover {
    background-color: rgb(161, 105, 157);
    text-decoration: none;
}



.box h3 {

    font-size: medium;
    font-style: normal;
    text-align: center;
}








.aboutus {
    width: 100%;
    height: 350px;
    /*background-color: rgb(172, 55, 113);*/
    margin-bottom: 40px;
    margin-top: 40px;

}

#about {
    width: 50%;
    height: 200px;
    font-size: 20px;
    text-align: justify;
    padding-top: 15px;
    padding-left: 50px;
    color:black;
    float: left;
}

#about h1{
    color:black;
}


#aboutcontent {
   
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 80px;
    color:black;
    float: left;
}


#aboutimg img{
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    height:320px;
    width:40%;
}





#top1 {
    width: 100%;
    height: 50px;
    background-color: rgb(71, 35, 53);

    text-decoration: none;
    display: flex;
    justify-content: center;

    align-items: center;
    font-size: 20px;
    color: white;

}


#top1 a {
    display: block;
   
   
    font-size: large;
    color: seashell;
    border: 0;
    text-align: center;
    text-decoration: none;

}

#footer {

    width: 100%;
    height: 350px;
    background-color:rgb(27, 27, 27);
    background-image:url(./img/banner2.png);;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: white;

}



#footer ul {
    list-style-type: none;
}


#top2 {
    text-align: center;
}



#footer ul li a {
    display: block;
    font-size: large;
    color: seashell;
    border: 0;
    text-align: center;
    text-decoration: none;

}